*{
 padding-left: 7px;
 padding-right: 7px;
 
}
.container{
 display: grid;
 place-items: center;
 width: 100vw;
 height: 60vh;
}
.comp{
background: rgb(224, 222, 222);
border-radius: 7px;
}
h1,h4{
 color: rgb(245, 143, 75);
}
button{
  padding: 7px;
  margin: 10px;
  background: rgb(163, 68, 251);
  color: cyan;
  border-radius: 7px;
  font-weight: bold;
  font-size: medium;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out; 
}button:hover{
 background:rgb(40, 137, 248) ;
}
input{
 padding: 7px;
 margin: 10px;
 outline: none;
 border-radius: 7px;
 border: 1px solid rgb(163, 68, 251);
}