.activeClass{
 background-color: rgb(77, 77, 77);
 border-radius: 6px;
}
.btn{
 padding: 10px;
 margin: 20px;
 background: rgb(163, 68, 251);
 color: cyan;
 border-radius: 25px;
 font-weight: bold;
 font-size: medium;
 outline: none;
 border: none;
 width: 110px;
 transition: all 0.3s ease-in-out;

}.btn:hover{
 background:rgb(40, 137, 248) ;
}
.btnGroup{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
}