body{
   background-color: rgb(246, 243, 243);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bigContainer{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:space-evenly;
}
.card {
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 250px;
   max-width: 300px;
   height: 200px;
   box-shadow: 3px 6px 9px 4px rgb(116 116 116 / 42%);
   text-align: center;
   margin:10px 10px 10px 10px;
   transition: transform 0.3s linear;
   border-radius: 8px;
   overflow: hidden;
   position: relative;

}
.card:hover{
   transform: scale(1.01);
}

.card:hover .info{
   opacity: 0;
   transition: opacity 0.4s ease-out;
}
.bottom{
   /* display: none; */
   position: absolute;
   bottom: 0px;
   width: 100%;
}
.info{
   display: flex;
   background: rgb(224, 215, 215);
   justify-content: space-between;
   align-items: center;
   max-height: 2.2rem;
   
}
.title {
   color: rgb(19, 19, 19);
   font-size: 1.3rem;
   font-weight: bold;
   margin-left:5px;
   
}
.source-season{
   display: flex;
   flex-direction: column;
   border-left: 2px solid red;
   height: 100%;
   margin: 1px 2px;
}

.source
{
   font-size: 17px;
   color:rgb(173, 0, 0);
   font-weight: bold;
   margin: 1px 1px;
   text-align: left;
   padding-left: 0.5rem;
}
.season
{
   font-size: .6rem;
   font-weight: 350;
   color:rgb(173, 0, 0);
   margin: 1px 1px;
   text-align: left;
   padding-left: 0.5rem;
}
a {
   text-decoration: none;
   font-size: 22px;
   color: black;
}

button:hover, a:hover {
   opacity: 0.9;
   transition: all .3s;
}

button {
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: rgb(20, 20, 20);
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
   
}