:root{
 --transition:0s;
}

.container{
 display: flex;
 flex-flow: column ;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.btn{
 height:50px;
 width: 200px;
 font-weight: bolder;
 letter-spacing: 2px;
 font-size: large;
 color: white;
 border-radius: 30px;
 outline: none;
 border:0px;
 cursor: pointer;
 background: rgb(11, 56, 204);
 transition: all var(--transition)  linear;
}
.btn:hover{
 background: rgba(27, 76, 238, 0.904);
 box-shadow: 1.4px 1.4px 5px 2px rgba(39, 39, 39, 0.349);
 --transition:0.3s;
}
.btn:active{
 --transition:0s;
 transform: translateY(-4px);
}