button{
 border-radius: 30px;
 padding: 3px 5px;
 border: none;
 background-color: rgb(78, 95, 251);
 color: white;
 width:60%;
 height: 3rem;
 font-size: large;
}
div{
 width: 100vw;
 height: 40vh;
 display: grid;
 place-items: center;
}