body{
 margin: 5px;
 padding: 3px;
 background: rgb(235, 235, 235);
}
h1,h2,h3,h4,h5,h6{
 text-align: center;
 color: rgb(24, 19, 46);
 background: rgb(200, 199, 199);
 border-radius: 10px;
 padding: 2px;
}
input{
 transition: outline .08s ease-in;
 margin-top: 15px;
 margin-left: 10px;
 border: 2px solid rgb(106, 52, 255);
 outline: 0px;
 padding: 5px;
}input:focus{
 outline: 3px solid rgba(137, 43, 226, 0.431);
}
span,i {
 color: rgb(26, 60, 98);
}
button{
 padding: 5px;
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 10px;
 background:rgb(192, 32, 255)0;
 color: white;
 font-weight: bold;
 font-size: small;
}
div{
 margin-top: 10px;
 margin-bottom: 10px;
}
ol{
 width:350px;
 min-width: 40vw;
 background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
 padding-top: 5px;
 padding-bottom: 5px;
 word-wrap: break-word;
 border-radius: 5px;
}
li{
 margin-top: 5px;
 margin-right: 5px;
 background: linear-gradient(to right, #297fb928, #6dd4fa2a);
 padding:5px;
 font-weight: 500;
 border-radius: 5px;
 color: rgb(6, 1, 27);
}
li:last-child{
 margin-bottom: 5px;
}

.navbar{
 display: flex;
 width: 350px;
 min-width: 40vw;
 align-items: center;
 justify-content:space-around ;
}
.active{
 background: rgba(81, 84, 243, 0.472);
}