span{
 color: rgb(18, 62, 98);
 display: inline-block;
}
button{
 padding: 10px;
 margin: 5px;
 background: rgb(19, 122, 241);
 color: cyan;
 border-radius: 25px;
 font-weight: bold;
 outline: none;
 border: none;
}